* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #a6c9f8;
    --secondary-color: #c7ddfa;
    --third-color: #ebf3fd;
    --primary-text-color: whitesmoke;
    --secondary-text-color: black;
    --primary-font: ../ ;
    --secondary-font: ;
}

@font-face {
    font-family: "Exo2";
    src: url("../acceuil/public/fonts/Exo2-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Assistant";
    src: url("../acceuil/public/fonts/Assistant-VariableFont_wght.ttf");
}

h1, .TDLfooter, .menufooter, nav{
    font-family: "Exo2";
}

main, #contactUsButton{
    font-family: "Assistant"; 
}



html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--primary-color);
}

.addTask {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.addTask .addList {
    display: flex;
    justify-content: center;
}

.textTask {
    width: 5rem;
}

.sort {
    display: flex;
    justify-content: space-around;
}

header .topHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header .topHeader h1 {
    flex-grow: 1;
    text-align: center;
}

header .topHeader .button {
    margin-right: 0.4rem;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    font-size: 150%;
}

h1 {
    color: var(--primary-text-color);
    font-size: x-large;

}

nav {
    color: whitesmoke;
    margin-bottom: 1px;
}

h2 {
    font-size: 1rem;
}

#taskBar {
    height: 2rem;
    width: 2rem;
    border-radius: 30px;
    color: var(--secondary-color);
}


.indicatorBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    gap: 3px;
    height: 2rem;
    background-color: var(--secondary-color);
    border-radius: 15px;
    margin-left: 0.45rem;
    margin-right: 0.45rem;
}

.indicator {
    display: flex;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: var(--primary-text-color);
}

#taskArea, #listArea {
    height: auto;
    margin: 5px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;;
}

.contactUsArea {
    height: 5rem;
    margin: 5px;
    border: 1px solid var(--primary-color);
    display: none;
}
#contactUsButton{
    border-radius: 8.5px;
    background-color: var(--third-color);
    font-size: 100%;
}

#sort {
    height: 3rem;
    width: 5rem;
    border-radius: 8px;
}

#searchBar {
    height: 3rem;
    width: 30rem;
}

.taskContainer {
    height: auto;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: #e6eefa;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2px;
}
#listArea .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }
  
  #listArea .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  #listArea .sliderRound {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f30606;
    transition: 0.4s;
    border-radius: 24px;
  }
  
  #listArea .sliderRound:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  #listArea input:checked + .sliderRound {
    background-color: #4CAF50;
  }
  
  #listArea input:checked + .sliderRound:before {
    transform: translateX(26px);
  }

.informationsTask {
    display: flex;
    gap: 1rem;
}
.informationsTask a {
    color: black;
}

.buttonSection {
    display: flex;
    gap: 1rem;
}

.cardContainer {
    height: auto;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: #e6eefa ;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2px;
}

.mainInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--primary-text-color);
    border-radius: 15px 15px 0 0;
    height: 20px;
    margin-top: auto;
    padding: 10px 0; 
}
