*{
    margin: 0;
    padding: 0;
    outline: ; /*1px solid red*/
}

:root {
--primary-color: #a6c9f8;
--secondary-color: #c7ddfa;
--third-color: #ebf3fd;
--primary-text-color: whitesmoke;
--secondary-text-color: black;
--primary-font: ; /*définir la font family*/
--secondary-font: ; /*définir la font family*/
}

header {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: var(--primary-color);
}

.addTask .addList {
    display: flex;
    justify-content: space-around;
}
.sort {
    display: flex;
    justify-content: space-around;
}

header .topHeader {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    position: relative;
}

header .topHeader h1 {
    flex-grow: 1; 
    text-align: center; 
}

header .topHeader .button {
    margin-right: 0.4rem; 
    width: 30px;
    height: 30px;
    border-radius: 15px;
    font-size: 150%;
}

h1 {
    color: var(--primary-text-color);
    font-size: x-large;
    font-family: var(--primary-font);
}
nav {

    color: whitesmoke;
    margin-bottom: 1px;
}

h2 {
    font-size: 1rem;
}

#taskBar {
    height: 2rem;
    width: 2rem;
    border-radius: 30px;
    color: var(--secondary-color);
}


.indicatorBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    gap: 3px;
    height: 2rem;
    background-color: var(--secondary-color);
    border-radius: 15px;
    margin-left: 0.45rem;
    margin-right: 0.45rem;
}

.indicator {
    display: flex;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
a {
    text-decoration: none;
    color: var(---primary-text-color);
}
#taskArea {
    height: auto;
    margin: 5px;
    border: 1px solid var(--primary-color);
}

#listArea {
    height: auto;
    margin: 5px;
    border: 1px solid var(--primary-color);
}

.contactUsArea{
    height: 5rem;
    margin: 5px;
    border: 1px solid var(--primary-color);
    display: none;
}

#sort {
    height: 3rem;
    width: 5rem;
    border-radius: 8px;
}

#searchBar {
    height: 3rem;
    width: 30rem;
}

.taskContainer {
    height: auto;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: #e6eefa ;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2px;
}
.informationsTask {
    display: flex;
    gap: 1rem;

}
.buttonSection {
    display: flex;
    gap: 1rem;

}

.cardContainer {
    height: auto;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: #e6eefa ;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2px;
}

.mainInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
background-color: var(--primary-color);
display: flex;
justify-content: space-around;
align-items: center;
color: var(--primary-text-color);
border-radius: 15px 15px 0 0;
}

